.method-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 16px;
}
.method-list__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  padding: 24px;
  background-color: #aaa;
  border-radius: 10px;
}
.method-list__item__disc {
  margin-bottom: 24px;
}
.method-list__item__content {
  display: flex;
  flex-direction: row;
}
.input-line {
  display: flex;
  flex-direction: row;
}
.input-line__input {
  border-radius: 10px;
  border-color: none;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  background-color: #777;
  color: #444;
  padding: 8px;
}
.input-line__input::placeholder {
  color: #444;
}
.input-line__submit {
  border-radius: 10px;
  border-color: none;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  background-color: #555;
  color: white;
  padding: 8px 16px;
}
.input-line__submit:hover {
  background-color: #444;
  cursor: pointer;
}
