{% extends "base.html" %}

{% block css %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/methods.css') }}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="method-list">
        <div class="method-list__item">
            <header class="heading">VK Word Rating</header>

            <div class="method-list__item__disc">
                Данный метод определяет 100 наиболее используемых слов в группах введенного пользователя Вконтакте.
            </div>

            <form action="/vk_result" method="post">
                {{ form_vk.csrf_token }}
                <div class="input-line">
                    <div>{{ form_vk.vk_id }}</div>
                    <div class="button">{{ form_vk.submit }}</div>
                </div>
            </form>
        </div>

        <div class="method-list__item">
            <header class="heading">Geoliker</header>
            <div class="method-list__item__disc text">
                Позволяет посмотреть распределение лайкнувших по карте для каждого отдельного поста из последних 100, которые принадлежат запрошенной группе или пользователю.
            </div>
            <form action="/map_likes" method="POST">
                {{ form_map.csrf_token }}
                <div class="input-line">
                    <div>{{ form_map.vk_id }}</div>
                    <div class="button">{{ form_map.submit }}</div>
                </div>
            </form>
        </div>
    </div>

    <div class="method-list">
        <div class="method-list__item">
            <header class="heading">Facebook Word Rating</header>
            <div class="method-list__item__disc text">
                Данный метод определяет 100 наиболее используемых слов для страницы Фейсбук.
            </div>
            <form action="/fb_result" method="POST">
                {{ form_fb.csrf_token }}
                <div class="input-line">
                    <div>{{ form_fb.fb_id }}</div>
                    <div class="button">{{ form_fb.submit }}</div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}