{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="methods.css">
{% endblock %}

{% block content %}
<div class="method-list">
    <div class="method-list__item">
        <form action="/result" method="post">
            {{ form.csrf_token }}
            <p>Введи id</p>
            <p>{{ form.vk_id }}</p>
            <p>{{ form.submit }}</p>
        </form>
    </div>

    <div class="method-list__item">
        <form action="/map_likes" method="POST">
            {{ form.csrf_token }}
            <p>Введи id группы или человека</p>
            <p>{{ form_map.vk_id }}</p>
            <p>{{ form_map.submit }}</p>
        </form>
    </div>

{% endblock %}